@media (max-width: 480px) {
    .about{
        display: flex;
        flex-direction: column;
        background-color: #142d4c;
        justify-content: center;
        width: 442px;
        height: fit-content;
        
    }
    .skills_main{
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        
        
    }
    .about_image{
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }

    .about1{
       width: fit-content;
       background-color: #142d4c;   
    }
    .about-self{
        width: 350px;
    }

    .landing_page{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
        
    }
    .landing_image{
        width: 350px;
        height: auto;
        margin-bottom: 10px;
    }

    .items{
        display: none;
    }
    .navbar{
        margin-bottom: -20px;
        padding-top: 8px;
    }
    .name{
        font-size: medium;
    }
    .app{
        overflow-x: hidden;
    }

}


